<% if @hits.present? %>
   <div class="keywords">
<!--
     <div class="jumbotron">
       <h1>Hello, world!</h1>
       <p>This is an example to show the potential of an offcanvas layout pattern in Bootstrap. Try some responsive-range viewport sizes to see it in action.</p>
     </div>
-->

     <div class="row">
       <% @hits.each do |hit| %>
       <div class="item">
         <a href="<%=hit.uri%>">
           <div class="thumbnail well">
             <img src="<%=hit.image_uri%>">
             <span class="hidden"><%= hit.id %></span>
             <div class="caption">
               <p><%= hit.content.present? ? truncate(strip_tags(CGI.unescapeHTML(hit.content)), length: 100) : "" %></p>
             </div>
           </div>
         </a>
       </div><!--/.col-xs-6.col-lg-4-->
       <% end %>
     </div><!--/row-->
   </div><!--/.col-xs-12.col-sm-9-->
<% else %>
	<img style="padding-left:500px;" src="/images/processing.gif"/>
	<span>Processing...</span>
<% end %>
